/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background-color: #1f2937;
  padding: 10px 30px;
}

li {
  list-style-type: none;
}

h1,
.logo {
  color: #f9faf8;
}

p,
.navbar li {
  font-size: 18px;
  color: #e5e7eb;
}

h1 {
  font-size: 48px;
}

.logo {
  font-size: 24px;
  margin-right: auto;
}

.navbar {
  display: flex;
  gap: 15px;
}

.home-container {
  height: 500px;
  display: flex;
  /* justify-content: center;
  align-items: stretch;
} */
