@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 30px;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

p {
  /* margin-bottom: 30px; */
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 18px;

  padding: 4px 15px;
  border: none;
  border-radius: 8px;
}

/* HOME SECTION */

.home {
  height: 70vh;
  background-color: #1f2937;
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 25px;

  width: 900px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  margin-right: auto;
}

.home-container {
  display: flex;
  gap: 30px;
  width: 900px;
  margin-top: auto;
  margin-bottom: auto;
}
.home-container p {
  margin-bottom: 30px;
}

.sub-container {
  width: 50%;
}

.img-container {
  width: 50%;
  background-image: url("home-img.jpg");
  background-size: cover;
}

/* 2nd SECTION  */

.second-section {
  height: 400px;
  padding-top: 30px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
}

.second {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: auto;
}

.box-img {
  height: 150px;
  width: inherit;
  border: 3px solid #3882f6;
  border-radius: 12px;
}

.card p {
  margin: 0;
}

.box1 {
  background-image: url("img1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.box2 {
  background-image: url("img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center calc(50% - 20px);
}

.box3 {
  background-image: url("img3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.box4 {
  background-image: url("img4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* TESTIMONIAL SECTION */

.testimonial {
  height: 400px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testi-container {
  font-size: 36px;
  color: #1f2937;

  /* font-weight:300; */
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testi-container span {
  /* color: #1f2937; */
  align-self: flex-end;
  font-weight: bold;
}

/* SECTION CALL-TO */
